---
import { competitors } from "../content/competitors.mdx";
import SectionMarker from "./SectionMarker.astro";
---
<section class="section competitors" data-section-num="08" id="s08" aria-labelledby="cmp-headline">
  <SectionMarker num="08" label="Compare" right="rntme / vs" />
  <h2 id="cmp-headline">We know what you're already trying.</h2>
  <div class="compare">
    {competitors.map((c) => (
      <div class="compare-row">
        <div class="compare-label">{c.name}</div>
        <div class="compare-cell"><p>{c.body}</p></div>
      </div>
    ))}
  </div>
</section>
